html, body {
    margin: 0;
    height: 100%;
}

        
body { 
    font-family: sans-serif; 
    text-align: center; 
    display: flex;
    flex-direction: column;
}

        
.content {
    flex: 1;
    padding-top: 50px;
}

        
footer {
    padding: 20px 0;
            
}
